* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2c3930;
  --secondary-color: #3f4f44;
  --accent-color1: #a27b5c;
  --accent-color2: #dcd7c9;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  font-family: "Montserrat", serif;
}

header {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--accent-color2);
}

header h1 {
  color: var(--primary-color);
  margin: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondary-color);
}

nav a {
  margin: 1rem;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  color: var(--accent-color2);
  border-radius: 4px;
}

nav a:hover {
  background-color: var(--accent-color2);
  color: var(--secondary-color);
}

main {
  grid-column: 2 / 8;
  grid-row: 2 / 9;
}

.main-image {
  max-width: 700px;
}

.main-image img {
  width: 100%;
  object-fit: cover;
}

aside {
  background-color: var(--accent-color2);
  grid-row: 2 / 12;
  grid-column: 10 / 13;
}

footer {
  background-color: var(--primary-color);
  grid-column: 1 / 13;
  grid-row: 9 / 13;
}
