body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

  :root{
    --primary-color: #161A30;
    --secondary-color: #31304D;
    --accent-color-1: #B6BBC4;
    --accent-color-2: #F0ECE5;
  }

  nav ul{
    display: flex;
  }

  nav ul li{
    flex: 1 1 100%;
  }
